.venv/
.idea/
build/
dist/
test_pypi_dist/
signal_grad_cam.egg-info/
signal_grad_cam/__pycache__/
examples/data/datasets/signal_data_1D/ecg.pkl
examples/data/datasets/signal_data_1D/people_car_keys.wav
examples/data/datasets/signal_data_1D/sing_fingersnap.wav
examples/data/datasets/video_data/
examples/data/models/ecg_model_1D_torch.pth
examples/outputs/
examples/_pycache__/
examples/__pycache__/net1d.cpython-311.pyc
examples/classification_models_1D/_pycache__/
examples/classification_models_1D/__pycache__/__init__.cpython-311.pyc
examples/classification_models_1D/__pycache__/__version__.cpython-311.pyc
examples/classification_models_1D/__pycache__/models_factory.cpython-311.pyc
examples/classification_models_1D/__pycache__/tfkeras.cpython-311.pyc
examples/classification_models_1D/__pycache__/weights.cpython-311.pyc
examples/classification_models_1D/models/_pycache__/
examples/classification_models_1D/models/__pycache__/__init__.cpython-311.pyc
examples/classification_models_1D/models/__pycache__/_common_blocks.cpython-311.pyc
examples/classification_models_1D/models/__pycache__/resnet.cpython-311.pyc
examples/data/_pycache__/
examples/models/_pycache__/